#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form_message {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fa5252;
  background-color: rgba(250, 82, 82, 0.15);
}

.form_message p {
  margin: 0;
  font-weight: 500;
}

.add_guess_form button {
  margin-left: 1rem;
  font-size: small;
}

.guess_container {
  background-color: #121213;
  padding: 2rem;
  border-radius: 1rem;
}

.guess_container li {
  margin-bottom: 1rem;
}

.guess_container li:last-child {
  margin-bottom: 0rem;
}

.result_item {
  text-align: left;
}
