#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form_message {
  color: red;
  margin-top: 0;
  font-weight: 500;
}

.add_guess_form button {
  margin-left: 1rem;
  font-size: small;
}

.remove_button {
  color: #fa5252;
  background-color: rgba(250, 82, 82, 0.15);
  margin-left: 1rem;
}
